@model A1Final.Models.Booking
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>You can only make one booking per day, please input again</p>

<button>@Html.ActionLink("Return to Create page", "Create", "Bookings")</button>

