
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>You can only make one booking per day, please input again</p>

<button>@Html.ActionLink("Return to Create page", "Create", "Vets")</button>