@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>VetCare Application</h1>
    
    @*Image reference:https://pixabay.com/zh/photos/dog-puppy-canine-vet-veterinarian-91765/*@

    <img src="~/Image/dog.jpg" style="height:470px"
         @*No image would show this*@
         alt="A vet is doing body check for a puppy dog">
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3" id="example">
        <h2>View the Vets</h2>
        <p>
            VetCare creates a friendly environment for you between your lovely pets and professional vets.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44326/Vets">Pro Vets &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" id="example">
        <h2>Booking Here</h2>
        <p>You can easily make a booking for your loving pets here.Find out more please click button below </p>
        <p><a class="btn btn-default" href="https://localhost:44326/Bookings">Make a Booking &raquo;</a></p>
    </div>
    <div class="col-md-3"></div>
</div>