@{
    ViewBag.Title = "Map";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display navigation directions</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <style>
        body {
            margin-top: 30px;
            padding: 0;
        }

        #map {
            position: absolute;
            margin-top:40px;
            top: 45px;
            bottom: 25px;
            width: 85%;
        }
    </style>
</head>
<body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css' type='text/css' />
    <div id="map"></div>

    <script>
        mapboxgl.accessToken = "pk.eyJ1Ijoic2hheXpoZW5nIiwiYSI6ImNrc3AybmM2cjAxcWcyeHFwdG1vNmZyaGwifQ.d1s2J4nGU8evviOAP0cTYA";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-79.4512, 43.6568],
            zoom: 13
        });

        map.addControl(new MapboxDirections({ accessToken: mapboxgl.accessToken }), 'bottom-left');
        
        map.addControl(new mapboxgl.NavigationControl());
        const geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,



            marker: {
                color: 'blue'
            },
            mapboxgl: mapboxgl
        });

        map.addControl(geocoder, "top-left");

    </script>

</body>
</html>